@font-face {
    font-family: fuente1;
    src: url(../../fonts/thryn___.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: fuente1;
    font-weight: 200;
}

body {
    background: url(../../resources/background_index.jpg) no-repeat;
    background-attachment: fixed;
    background-position: cover;
}

nav {
    background: #E4E4E4;
    border-bottom: 3px solid #6FB85E;
    padding: 1rem;
}
  
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
  
nav li {
    display: inline-block;
}
  
nav li a {
    display: block;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-align: center;
}

.nav-logo {
    display: flex;
    font-size: 2.5rem; 
    align-items: center;
}
  
li a:hover {
    text-decoration: 3px underline #6FB85E;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: fit-content;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content-item{
    width: 100%;
    border-bottom: 2px solid #6FB85E;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: #E4E4E4;
    border: 2px solid #6FB85E;
}

.dropdown-content a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}


.section-menu-semanal, .section-menu-quincenal, .section-menu-mensual {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 5% 2% 5% 2%;
    width: 95%;
    padding: 1rem;
}


.section-menu-semanal h1, .section-menu-quincenal h1, .section-menu-mensual h1, .tituloTipoMenu{
    border-bottom: 5px solid #3be115;
    font-size: xx-large;
    background-color: white;
    margin-bottom: 1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
    transition: 0.1s;
}

.section-menu-semanal h1:hover, .section-menu-quincenal h1:hover, .section-menu-mensual h1:hover, .tituloTipoMenu:hover {
    transform: scale(1.1);
    cursor: pointer; 
}


.tituloTipoMenu {
    font-size: x-large;
    width: 15%;
    margin-top: 2rem;
}

.sectionMenu-content {
    background: #E4E4E4;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-right: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}

.item-content {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-column-gap: 1rem; Añade el margen entre columnas aquí */
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}



.menu-container {
    background-color: #eeeeee;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}


.fotoMenu {
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url(../../resources/LogoSYMFONIA.png);
    background-size: contain; /* Ajusta el tamaño para que la imagen quepa en la sección */
    background-position: center; /* Centra la imagen vertical y horizontalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.tituloMenu {
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1.5px solid black; /* Borde superior de 3 píxeles de ancho */
    border-bottom: 1.5px solid black; /* Borde inferior de 3 píxeles de ancho */
}

.tituloMenu h2{
    border-bottom: 2px solid #27bc05;
}

.botonesMenu {
    justify-content: center;
    align-items: center;
    height: 40%;
    display: flex;
    flex-direction: column;
    width: 100%
}
.botonMenu {
    background-color: #1bc651; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: transform 0.2s; /* Agrega una transición suave para la animación de agrandar */

    /* Si deseas bordes redondeados, puedes agregar esto */
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

/* Estilo para el hover */
.botonMenu:hover {
    transform: scale(1.1); /* Escala el botón al 110% del tamaño original en hover */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}


footer {
    background: #E4E4E4;
    color: black;
    position: relative;
    padding: 2rem 0;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #6FB85E;
}

.footer-content {
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.footer-item {
    flex: 1;
    padding: 1.2rem;
    text-align: left;
    margin-left: 5%;
}

.footer-titulo {
    padding-bottom: 1rem;
}

.icon-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

.icon-container p {
    margin-left: 1rem;
}

.icon {
    margin-bottom: 1rem;
}

.bi:hover {
    color: #6FB85E;
}

@media screen and (max-width: 768px) {
    nav {
        text-align: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    .nav-logo {
        margin-bottom: 20px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        position: relative;
        text-align: center; /* Centra el texto del enlace */
    }

    .dropdown-content {
        position: absolute;
        width: max-content; /* Establece el ancho máximo según el contenido */
        top: 100%;
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente el menú desplegable */
        display: none;
        background: #E4E4E4;
        border: 2px solid #6FB85E;
        text-align: center;
        z-index: 1000;
    }

    .dropdown:hover .dropdown-content {
        display: block; 
    }

    .dropdown-content-item {
        width: 100%;
        border-bottom: 2px solid #6FB85E;
    }
}