@font-face {
    font-family: fuente1;
    src: url(../fonts/thryn___.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: fuente1;
    font-weight: 200;
}

body {
    background: url(../resources/background_index.jpg) no-repeat fixed;
    background-size: cover;
}

nav {
    background: #E4E4E4;
    border-bottom: 4px solid #6FB85E;
    padding: 1rem;
}
  
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
  
nav li {
    display: inline-block;
}
  
nav li a {
    display: block;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-align: center;
}

.nav-logo {
    display: flex;
    font-size: 2.5rem; 
    align-items: center;
}
  
li a:hover {
    text-decoration: 3px underline #6FB85E;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: fit-content;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content-item{
    width: 100%;
    border-bottom: 2px solid #6FB85E;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: #E4E4E4;
    border: 2px solid #6FB85E;
}

.dropdown-content a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.btn-section {
    border: none;
    background: #6FB85E;
    padding: 0.5rem;
    color: #ffff;
    margin: 2rem 1rem;
    justify-content: flex-end ;
}

.btn-section:hover {
    cursor: pointer;
    transform: scale(1.1);
}



/* ACA EMPIEZA LA SECCION DE MOSTRAR CARRITO */

.mensaje-emergente {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    z-index: 9999; /* Para que aparezca arriba del todo */
}

.ventanaSession-emergente {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 9999; /* Para que aparezca arriba del todo */
    height: fit-content;
    width: 300px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.ventanaSession-emergente header {
    font-size: xx-large;
    width: 75%;
    height: 100%;
    color: red;
}
.mensaje {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: 100%;
}


.carrito-container {
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.carrito-section {
    border: 3px solid #6FB85E;
    background-color: white;
    width: 80%;
    height: fit-content;
    justify-content: center;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    text-align: center;
    padding: 3rem;
    font-size: 1.3em;
}

.menu-carrito {
    display: grid;
    grid-template-columns: 10% 40% 20% 10% 20%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2rem;

}

.menu-nombre {
    border-bottom: 4px solid #6FB85E;
    width: 160px;
}
.menu-cantidad {
    border-bottom: 4px solid #6FB85E;
    width: 40px;
}
.menu-precio{
    border-bottom: 4px solid #6FB85E;
}

.menu-btnEliminar button{
    background-color: #6FB85E;
    color: #E4E4E4;
    border: none;
    transition: transform 0.2s;
    height: 40px;
    width: 50%;
}
.menu-btnEliminar:hover button{
    transform: scale(1.1);
    cursor: pointer; 
}
.pagar {
    margin-top: 5rem;
    text-align: left;
}
/* ACA TERMINA LA SECCION DE MOSTRAR CARRITO */


footer {
    background: #E4E4E4;
    color: black;
    padding: 2rem 0;
    bottom: 0;
    width: 100%;
    position:relative;
    border-top: 4px solid #6FB85E;
}

.footer-content {
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.footer-item {
    flex: 1;
    padding: 1.2rem;
    text-align: left;
    margin-left: 5%;
}

.footer-titulo {
    padding-bottom: 1rem;
}

.icon-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

.icon-container p {
    margin-left: 1rem;
}

.icon {
    margin-bottom: 1rem;
}

.bi:hover {
    color: #6FB85E;
}

@media screen and (max-width: 768px) {
    nav {
        text-align: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    .nav-logo {
        visibility: visible;
        margin-top: 1rem;
    }

    .nombre-logo {
        display: none;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        position: relative;
        text-align: center; /* Centra el texto del enlace */
    }

    .dropdown-content {
        position: absolute;
        width: max-content; /* Establece el ancho máximo según el contenido */
        top: 100%;
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente el menú desplegable */
        display: none;
        background: #E4E4E4;
        border: 2px solid #6FB85E;
        text-align: center;
        z-index: 1000;
    }

    .dropdown:hover .dropdown-content {
        display: block; 
    }

    .dropdown-content-item {
        width: 100%;
        border-bottom: 2px solid #6FB85E;
    }
}

