@font-face {
    font-family: fuente1;
    src: url(../fonts/thryn___.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: fuente1;
    font-weight: 200;
}

body {
    background: url(../resources/background_index.jpg) no-repeat fixed;
    background-size: cover; 
}

nav {
    background: #E4E4E4;
    border-bottom: 4px solid #6FB85E;
    padding: 1rem;
}
  
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
  
nav li {
    display: inline-block;
}
  
nav li a {
    display: block;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-align: center;
}

.nav-logo {
    display: flex;
    font-size: 2.5rem; 
    align-items: center;
}
  
li a:hover {
    text-decoration: 3px underline #6FB85E;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: fit-content;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content-item{
    width: 100%;
    border-bottom: 2px solid #6FB85E;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: #E4E4E4;
    border: 2px solid #6FB85E;
}

.dropdown-content a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.section-menu {
    background: #E4E4E4;
    display: flex;        
    height: 70vh;
    margin: 5% 20% 5% 20%;
    border-bottom: 4px solid #6FB85E;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.section-menu p{
    border-bottom:2px solid #6FB85E;
    border-top: 2px solid #6FB85E;
}

.section-info {
    display: flex;      
    margin: 5% 20% 5% 20%;
    padding: 3rem;
}

#btnVerMenu{
    background-color: #6FB85E;
    color: #E4E4E4; 
    border: none; 
    padding: 1rem; 
    transition: transform 0.2s;
    width: 30%;
    margin-bottom: 0.5rem;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
}

#btnVerMenu:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#menu-estandar {
    border-radius: 10px;
    background: #E4E4E4;
    width: 100%;
    margin: 0 0 0 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#menu-estandar {
    border-bottom: 4px solid #6FB85E;
    display:block;
    justify-content: center;
    align-items: center;
}

.input-container {
    text-align: center;
  }

.btn-section {
    border: none;
    background: #6FB85E;
    padding: 0.5rem;
    color: #ffff;
    margin: 1rem;
}

.btn-section:hover {
    cursor: pointer;
    transform: scale(1.1);
}
  
footer {
    background: #E4E4E4;
    color: black;
    position: relative;
    padding: 2rem 0;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #6FB85E;
}

.footer-content {
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.footer-item {
    flex: 1;
    padding: 1.2rem;
    text-align: left;
    margin-left: 5%;
}

.footer-titulo {
    padding-bottom: 1rem;
}

.icon-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

.icon-container p {
    margin-left: 1rem;
}

.icon {
    margin-bottom: 1rem;
}

.bi:hover {
    color: #6FB85E;
}

@media (max-width: 768px) {
    nav {
        text-align: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
    }

    .nav-logo {
        visibility: visible;
        margin-top: 1rem;
    }

    .nombre-logo {
        display: none;
    }

    .section-info {
        font-size: 2vw;
        justify-content: center;
        height: 18vh;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        position: relative;
        text-align: center; /* Centra el texto del enlace */
    }

    .dropdown-content {
        position: absolute;
        width: max-content; /* Establece el ancho máximo según el contenido */
        top: 100%;
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente el menú desplegable */
        display: none;
        background: #E4E4E4;
        border: 2px solid #6FB85E;
        text-align: center;
        z-index: 1000;
    }

    .dropdown:hover .dropdown-content {
        display: block; 
    }

    .dropdown-content-item {
        width: 100%;
        border-bottom: 2px solid #6FB85E;
    }

}  

  