@font-face {
    font-family: fuente1;
    src: url(../../fonts/thryn___.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: fuente1;
    font-weight: 200;
}

body {
    background: url(../../resources/background_index.jpg) no-repeat fixed;
    background-size: cover; 
}

nav {
    background: #E4E4E4;
    border-bottom: 3px solid #6FB85E;
    padding: 1rem;
}
  
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
  
nav li {
    display: inline-block;
}
  
nav li a {
    display: block;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-align: center;
}

.nav-logo {
    display: flex;
    font-size: 2.5rem; 
    align-items: center;
}
  
li a:hover {
    text-decoration: 3px underline #6FB85E;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: fit-content;
    overflow: auto;
}

.dropdown-content-item{
    width: 100%;
    border-bottom: 2px solid #6FB85E;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: #E4E4E4;
    border: 2px solid #6FB85E;
}

.dropdown-content a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}


#section-menu-semanal, #section-menu-quincenal, #section-menu-mensual {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: auto; 
    padding: 1rem 10rem 1rem 10rem;
}

#section-menu-semanal h1, #section-menu-quincenal h1, #section-menu-mensual h1 {
    border-bottom: 3px solid #6FB85E;
    font-size: 1rem;
    background-color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    border: 2px solid #6FB85E;
    

}

#section-menu-semanal h1:hover, #section-menu-quincenal h1:hover, #section-menu-mensual h1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#menu-semanal-title, #menu-quincenal-title, #menu-mensual-title {
    padding: 3rem;
    font-size: 1.2rem;
    width: 10rem;
}


.sectionMenu-content {
    background: #E4E4E4;
    display: none;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem; /* Añade espacio alrededor de los elementos en dispositivos más pequeños */
    border: 1px solid black;
}

.menu-container {
    background-color: #E4E4E4;
    width: 15rem;
    height: 20rem;
    padding: 0.5rem;
    border: 2px solid #6FB85E;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño total */
}

.fotoMenu {
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url(../../resources/icono_menu.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    #section-menu-semanal, #section-menu-quincenal, #section-menu-mensual {
        padding: 1rem;
    }

    .sectionMenu-content {
        justify-content: center; /* Ajustado para centrar los elementos en dispositivos más pequeños */
    }
}



.mensaje-emergente {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    z-index: 9999; /* Para que aparezca arriba del todo */
}

.tituloMenu {
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.botonesMenu {
    justify-content: center;
    align-items: center;
    height: 40%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.botonMenu {
    background-color: #6FB85E; /* Color de fondo del botón */
    color: #E4E4E4; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    padding: 1rem; /* Espaciado interno del botón */
    transition: transform 0.2s; /* Agrega una transición suave para la animación de agrandar */
    margin-bottom: 0.5rem;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.3);
}

/* Estilo para el hover */
.botonMenu:hover {
    transform: scale(1.1); /* Escala el botón al 110% del tamaño original en hover */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}


footer {
    background: #E4E4E4;
    color: black;
    position: relative;
    padding: 2rem 0;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #6FB85E;
}

.footer-content {
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.footer-item {
    flex: 1;
    padding: 1.2rem;
    text-align: left;
    margin-left: 5%;
}

.footer-titulo {
    padding-bottom: 1rem;
}

.icon-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

.icon-container p {
    margin-left: 1rem;
}

.icon {
    margin-bottom: 1rem;
}

.bi:hover {
    color: #6FB85E;
}

@media screen and (max-width: 768px) {
    nav {
        text-align: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    .nav-logo {
        visibility: visible;
        margin-top: 1rem;
    }

    .nombre-logo {
        display: none;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        position: relative;
        text-align: center; /* Centra el texto del enlace */
    }

    .dropdown-content {
        position: absolute;
        width: max-content; /* Establece el ancho máximo según el contenido */
        top: 100%;
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente el menú desplegable */
        display: none;
        background: #E4E4E4;
        border: 2px solid #6FB85E;
        text-align: center;
        z-index: 1000;
    }

    .dropdown:hover .dropdown-content {
        display: block; 
    }

    .dropdown-content-item {
        width: 100%;
        border-bottom: 2px solid #6FB85E;
    }

    .item-content {
        display: flex;
        flex-direction: column; /* Coloca los elementos en columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }
}